{% if howorder.howorder_rep %}
  <div class="howToOrder__wrapper">
    <div class="swiper-pagination text-caption-contrast"></div>
    <div class="swiper">
      <div class="swiper-wrapper">

        {% for item in howorder.howorder_rep %}
          <div class="howToOrder__wrap">
            <div class="howToOrder__wrapLeft">
              <img class="howToOrder__wrapBgLeft" src="{{ assets }}/images/howorder/hordertext2.webp" alt>
              <div class="howToOrder__wrapText">
                <div class="howToOrder__wrapTextIcon"><img src="{{ item.icon }}" alt></div>
                <div class="h3 text-main-contrast howToOrder__wrapTextTitle">{{ item.title }}</div>
                {% if item.descr %}
                  <div class="text-caption-contrast howToOrder__wrapTextSubtitle">{{ item.descr }}</div>
                {% endif %}

                {% if item.list %}
                  <div class="lead text-caption-contrast howToOrder__wrapListTitle">{{ item.list_title }}</div>
                  <ul class="howToOrder__wrapList">
                    {% for item2 in item.list %}
                      <li class="howToOrder__wrapLi text-caption-contrast lead">
                        {{ item2.li }}
                      </li>
                    {% endfor %}
                  </ul>

                {% endif %}

              </div>
              <img class="howToOrder__wrapRec" src="{{ assets }}/images/howorder/rec.svg" alt>
            </div>
            <img class="howToOrder__wrapRight" src="{{ item.img }}" alt="">
            <div class="howToOrder__wrapRightLogo">
              <img src="{{ assets }}/images/logo.svg" alt>
            </div>
            <img class="howToOrder__wrapRightFrame" src="{{ assets }}/images/banner/right.svg" alt>
            <img class="howToOrder__wrapBottomFrame" src="{{ assets }}/images/banner/right.svg" alt>

          </div>
        {% endfor %}



      </div>
    </div>
    <div class="howToOrder__loader" id="bannerLoader"><svg xmlns='http://www.w3.org/2000/svg' width="150px" height="150px" viewBox='0 0 200 200'><radialGradient id='a5' cx='.66' fx='.66' cy='.3125' fy='.3125' gradientTransform='scale(1.5)'><stop offset='0' stop-color='#FF156D'></stop><stop offset='.3' stop-color='#3355c1' stop-opacity='.9'></stop><stop offset='.6' stop-color='#3355c1' stop-opacity='.6'></stop><stop offset='.8' stop-color='#3355c1' stop-opacity='.3'></stop><stop offset='1' stop-color='#FF156D' stop-opacity='0'></stop></radialGradient><circle transform-origin='center' fill='none' stroke='url(#a5)' stroke-width='15' stroke-linecap='round' stroke-dasharray='200 1000' stroke-dashoffset='0' cx='100' cy='100' r='70'><animateTransform type='rotate' attributeName='transform' calcMode='spline' dur='2' values='360;0' keyTimes='0;1' keySplines='0 0 1 1' repeatCount='indefinite'></animateTransform></circle><circle transform-origin='center' fill='none' opacity='.2' stroke='#FF156D' stroke-width='15' stroke-linecap='round' cx='100' cy='100' r='70'></circle></svg></div>
  </div>
{% endif %}

