<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
          <div class="footer__wrap">
            {% if post.id != 6 %}
            <a class="footer__logo" href="/"><img src="{{ assets }}/images/logo.svg" alt></a>
            {% endif %}
            {% if post.id == 6 %}
              <a class="footer__logo"><img src="{{ assets }}/images/logo.svg" alt></a>
            {% endif %}
            <div class="footer__wrapText">
              <div class="footer__date Control_M text-caption">© <span class="year"></span> «MEBEL-TUT».</div>
              <script>
                const data = document.querySelector('.year').textContent = new Date().getFullYear();
              </script>
              <a class="Control_M text-caption" href="/privacy-policy/">Политика конфиденциальности</a>
              <a target="_blank" class="Control_M text-caption" href="https://vyatka-it.ru/">Разработка сайта: Вятка IT</a>
            </div>
          </div>

          <div class="footer__wrap">
            <div class="h5 text-disable">Каталог</div>
            <div class="footer__wrapLinks">
              {% for category in categories_prod %}
                <a class="footer__wrapLink text-body Control_M" href="{{ category.link }}">{{ category.title }}</a>
              {% endfor %}
            </div>
          </div>


          <div class="footer__wrap">
            <div class="h5 text-disable">Навигация</div>
            <div class="footer__wrapLinks">
              {% for item in main_menu.items %}
                <a class="footer__wrapLink text-body Control_M" href="{{ item.link }}">{{ item.title }}</a>
              {% endfor %}
            </div>
          </div>


          <div class="footer__wrap">
            <div class="h5 text-disable">Контакты</div>
            <div class="footer__wrapText text-body Control_M">
              <div>{{ address }}</div>
              <div>{{ phone }}</div>
              <div>{{ email }}</div>
            </div>
            <a href="#body" class="up Uppercase-M">Наверх<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.125 9.96484L6.20312 11.043L11.2891 5.95703L11.2891 21.0039L12.7891 21.0039L12.7891 5.95703L17.875 11.043L18.9531 9.96484L12.5781 3.58984L12.0391 3.07422L11.5 3.58984L5.125 9.96484Z" fill="rgba(12, 12, 12, 0.4)"/>
              </svg>
            </a>
          </div>

        </div>

    </div>
</footer>
<div class="footer__buttons">
  <button class="footer__button text-main-contrast" data-modal="zamer"><svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.16699 10.8333C7.62723 10.8333 8.00033 10.4602 8.00033 10C8.00033 9.53976 7.62723 9.16667 7.16699 9.16667C6.70676 9.16667 6.33366 9.53976 6.33366 10C6.33366 10.4602 6.70676 10.8333 7.16699 10.8333Z" fill="white"/>
      <path d="M11.3337 10C11.3337 10.4602 10.9606 10.8333 10.5003 10.8333C10.0401 10.8333 9.66699 10.4602 9.66699 10C9.66699 9.53976 10.0401 9.16667 10.5003 9.16667C10.9606 9.16667 11.3337 9.53976 11.3337 10Z" fill="white"/>
      <path d="M13.8337 10.8333C14.2939 10.8333 14.667 10.4602 14.667 10C14.667 9.53976 14.2939 9.16667 13.8337 9.16667C13.3734 9.16667 13.0003 9.53976 13.0003 10C13.0003 10.4602 13.3734 10.8333 13.8337 10.8333Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.41139 18.1601C3.48208 18.145 3.55582 18.1288 3.63228 18.1114C4.59001 17.894 5.97313 17.4977 7.09951 16.8475C8.17284 17.2806 9.31617 17.5 10.5003 17.5C15.0953 17.5 18.8337 14.1356 18.8337 10C18.8337 5.86444 15.0953 2.5 10.5003 2.5C5.90534 2.5 2.16701 5.86444 2.16701 10C2.16701 11.4456 2.62424 12.8458 3.49146 14.0567C3.38135 15.2745 3.14718 16.2819 2.81214 17.006C2.79211 17.0493 2.77172 17.0916 2.75097 17.1329C2.65618 17.3214 2.55396 17.4884 2.44479 17.6324C2.4281 17.6545 2.41124 17.676 2.39422 17.6969L2.38983 17.7023C2.34385 17.7586 2.29669 17.8109 2.2484 17.8592C2.16396 17.9436 2.14285 18.0728 2.19618 18.1794C2.2434 18.2747 2.34063 18.3333 2.44479 18.3333C2.45757 18.3333 2.47035 18.3325 2.4834 18.3306C2.50007 18.3282 2.57166 18.318 2.68768 18.2986C2.8508 18.2715 3.10186 18.2263 3.41139 18.1601ZM4.73638 14.1692L4.77821 13.7065L4.50769 13.3288C3.78754 12.3233 3.41701 11.1761 3.41701 10C3.41701 6.67543 6.46855 3.75 10.5003 3.75C14.5321 3.75 17.5837 6.67543 17.5837 10C17.5837 13.3246 14.5321 16.25 10.5003 16.25C9.47275 16.25 8.48851 16.06 7.56721 15.6883L7.00224 15.4603L6.47461 15.7649C5.79655 16.1563 4.99584 16.4469 4.27826 16.6548C4.50214 15.9281 4.65342 15.0868 4.73638 14.1692Z" fill="white"/>
    </svg>
    Запись на замер</button>
  <button class="footer__button text-main-contrast" data-modal="calc"><svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.16699 10.8333C7.62723 10.8333 8.00033 10.4602 8.00033 10C8.00033 9.53976 7.62723 9.16667 7.16699 9.16667C6.70676 9.16667 6.33366 9.53976 6.33366 10C6.33366 10.4602 6.70676 10.8333 7.16699 10.8333Z" fill="white"/>
      <path d="M11.3337 10C11.3337 10.4602 10.9606 10.8333 10.5003 10.8333C10.0401 10.8333 9.66699 10.4602 9.66699 10C9.66699 9.53976 10.0401 9.16667 10.5003 9.16667C10.9606 9.16667 11.3337 9.53976 11.3337 10Z" fill="white"/>
      <path d="M13.8337 10.8333C14.2939 10.8333 14.667 10.4602 14.667 10C14.667 9.53976 14.2939 9.16667 13.8337 9.16667C13.3734 9.16667 13.0003 9.53976 13.0003 10C13.0003 10.4602 13.3734 10.8333 13.8337 10.8333Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.41139 18.1601C3.48208 18.145 3.55582 18.1288 3.63228 18.1114C4.59001 17.894 5.97313 17.4977 7.09951 16.8475C8.17284 17.2806 9.31617 17.5 10.5003 17.5C15.0953 17.5 18.8337 14.1356 18.8337 10C18.8337 5.86444 15.0953 2.5 10.5003 2.5C5.90534 2.5 2.16701 5.86444 2.16701 10C2.16701 11.4456 2.62424 12.8458 3.49146 14.0567C3.38135 15.2745 3.14718 16.2819 2.81214 17.006C2.79211 17.0493 2.77172 17.0916 2.75097 17.1329C2.65618 17.3214 2.55396 17.4884 2.44479 17.6324C2.4281 17.6545 2.41124 17.676 2.39422 17.6969L2.38983 17.7023C2.34385 17.7586 2.29669 17.8109 2.2484 17.8592C2.16396 17.9436 2.14285 18.0728 2.19618 18.1794C2.2434 18.2747 2.34063 18.3333 2.44479 18.3333C2.45757 18.3333 2.47035 18.3325 2.4834 18.3306C2.50007 18.3282 2.57166 18.318 2.68768 18.2986C2.8508 18.2715 3.10186 18.2263 3.41139 18.1601ZM4.73638 14.1692L4.77821 13.7065L4.50769 13.3288C3.78754 12.3233 3.41701 11.1761 3.41701 10C3.41701 6.67543 6.46855 3.75 10.5003 3.75C14.5321 3.75 17.5837 6.67543 17.5837 10C17.5837 13.3246 14.5321 16.25 10.5003 16.25C9.47275 16.25 8.48851 16.06 7.56721 15.6883L7.00224 15.4603L6.47461 15.7649C5.79655 16.1563 4.99584 16.4469 4.27826 16.6548C4.50214 15.9281 4.65342 15.0868 4.73638 14.1692Z" fill="white"/>
    </svg>
    Рассчитать стоимость</button>
  <button class="footer__button text-main-contrast"><svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.16699 10.8333C7.62723 10.8333 8.00033 10.4602 8.00033 10C8.00033 9.53976 7.62723 9.16667 7.16699 9.16667C6.70676 9.16667 6.33366 9.53976 6.33366 10C6.33366 10.4602 6.70676 10.8333 7.16699 10.8333Z" fill="white"/>
      <path d="M11.3337 10C11.3337 10.4602 10.9606 10.8333 10.5003 10.8333C10.0401 10.8333 9.66699 10.4602 9.66699 10C9.66699 9.53976 10.0401 9.16667 10.5003 9.16667C10.9606 9.16667 11.3337 9.53976 11.3337 10Z" fill="white"/>
      <path d="M13.8337 10.8333C14.2939 10.8333 14.667 10.4602 14.667 10C14.667 9.53976 14.2939 9.16667 13.8337 9.16667C13.3734 9.16667 13.0003 9.53976 13.0003 10C13.0003 10.4602 13.3734 10.8333 13.8337 10.8333Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.41139 18.1601C3.48208 18.145 3.55582 18.1288 3.63228 18.1114C4.59001 17.894 5.97313 17.4977 7.09951 16.8475C8.17284 17.2806 9.31617 17.5 10.5003 17.5C15.0953 17.5 18.8337 14.1356 18.8337 10C18.8337 5.86444 15.0953 2.5 10.5003 2.5C5.90534 2.5 2.16701 5.86444 2.16701 10C2.16701 11.4456 2.62424 12.8458 3.49146 14.0567C3.38135 15.2745 3.14718 16.2819 2.81214 17.006C2.79211 17.0493 2.77172 17.0916 2.75097 17.1329C2.65618 17.3214 2.55396 17.4884 2.44479 17.6324C2.4281 17.6545 2.41124 17.676 2.39422 17.6969L2.38983 17.7023C2.34385 17.7586 2.29669 17.8109 2.2484 17.8592C2.16396 17.9436 2.14285 18.0728 2.19618 18.1794C2.2434 18.2747 2.34063 18.3333 2.44479 18.3333C2.45757 18.3333 2.47035 18.3325 2.4834 18.3306C2.50007 18.3282 2.57166 18.318 2.68768 18.2986C2.8508 18.2715 3.10186 18.2263 3.41139 18.1601ZM4.73638 14.1692L4.77821 13.7065L4.50769 13.3288C3.78754 12.3233 3.41701 11.1761 3.41701 10C3.41701 6.67543 6.46855 3.75 10.5003 3.75C14.5321 3.75 17.5837 6.67543 17.5837 10C17.5837 13.3246 14.5321 16.25 10.5003 16.25C9.47275 16.25 8.48851 16.06 7.56721 15.6883L7.00224 15.4603L6.47461 15.7649C5.79655 16.1563 4.99584 16.4469 4.27826 16.6548C4.50214 15.9281 4.65342 15.0868 4.73638 14.1692Z" fill="white"/>
    </svg>
    Онлайн консультация</button>
</div>

<div class="cookie" hidden>
  <div class="cookie__box">
    <div class="cookie__text">
      Продолжая использовать сайт, вы соглашаетесь <br>
      на использование файлов cookie, а также даете согласие <br>
      на <a href="/privacy-policy/">обработку персональных данных</a>
    </div>
    <button type="button" class="btn btn-8 cookie__accept">ОК</button>
  </div>
</div>


<section class="modals">
  {% include "modals/orders.twig" %}
  {% include "modals/zamer.twig" %}
  {% include "modals/calc.twig" %}
</section>

{{ function('wp_footer') }}

{% if footer_code is not empty %}
  {{ footer_code }}
{% endif %}

</body>
</html>
