<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Название сайта</title>

  <link rel="shortcut icon" href="{{ assets }}/images/favicon.svg" type="image/svg">
  <link type="image/x-icon" href="{{ assets }}/images/favicon.svg" rel="shortcut icon">
  <link type="Image/x-icon" href="{{ assets }}/images/favicon.svg" rel="icon">


  <script>
    window.assets = '{{ assets }}'
  </script>

  {% if header_code is not empty %}
    {{ header_code }}
  {% endif %}

  {{ function('wp_head') }}
</head>
<body id="body" x-data="page"
      @popup-opened.window="$el.classList.add('fixed')"
      @popup-closed.window="$el.classList.remove('fixed')"
>

<header class="header">
  <div class="container">
    <div x-show="isDevice === 'desktop'" x-cloak x-data="{isShowCatalog: false, openFixedMenu: false}"
         x-init="$watch('isShowCatalog', el=> isBackdrop = el)"
         class="header__wrapper header__desctop">
      {% if post.id != 6 %}
        <a href="/" class="header__logo">
          <img loading="lazy" src="{{ assets }}/images/logo.svg" alt="header-logo">
        </a>
      {% endif %}
      {% if post.id == 6 %}
        <a class="header__logo">
          <img loading="lazy" src="{{ assets }}/images/logo.svg" alt="header-logo">
        </a>
      {% endif %}
      <div class="header__container">
        <nav class="header__menu control control-m color-text-main">
          <ul class="header__menu-items" data-max-items-in-expanded-menu="3"
              data-button-content='{% include "parts/flexible-menu-button.twig" %}'>


            <li><button class="menu_control header__li uppercase header__liBtn" data-modal="headermenu"><svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.5 0H0.5V1.5H2.5V0Z" fill="#0C0C0C" fill-opacity="0.8"/>
                  <path d="M20.5 0H4.5V1.5H20.5V0Z" fill="#0C0C0C" fill-opacity="0.8"/>
                  <path d="M20.5 6H4.5V7.5H20.5V6Z" fill="#0C0C0C" fill-opacity="0.8"/>
                  <path d="M4.5 12H20.5V13.5H4.5V12Z" fill="#0C0C0C" fill-opacity="0.8"/>
                  <path d="M0.5 6H2.5V7.5H0.5V6Z" fill="#0C0C0C" fill-opacity="0.8"/>
                  <path d="M2.5 12H0.5V13.5H2.5V12Z" fill="#0C0C0C" fill-opacity="0.8"/>
                </svg>
                Каталог</button></li>

            {% set projects_count = post.project|length %}


{#            {% set total_posts = 0 %}#}
{#            {% for progect in categories_proj %}#}
{#              {% for item in progect.posts %}#}
{#                {% set total_posts = total_posts + 1 %}#}
{#              {% endfor %}#}
{#            {% endfor %}#}

            {% for item in main_menu.items %}
              <li class="menu_control header__li uppercase">
                <a class="link {{ item.current ? "active" : "" }}" href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>
                  {% if item.title == "Наши работы" %}
                    {{ item.title }} <div class="header__progsCount">({{ total_posts }})</div>
                  {% else %}
                    {{ item.title }}
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>


      </div>

      <div class="header__containerBox">
        <a href="tel:+{{ cleared_phone }}" class="header__phone" target="_blank">{{ phone }}</a>
        <div class="header__containerBoxMessegers">
          <a class="text-caption Control_S" href="whatsapp://send?phone={{ wa }}">Whastapp</a>
          <a class="text-caption Control_S" href="https://t.me/{{ tg }}">Telegram</a>
        </div>
      </div>

    </div>

    <div x-show="isDevice !== 'desktop'" x-cloak x-data="{isShowCatalog: false, openFixedMenu: false, openFixedMenuCats: false }"
         x-init="$watch('isShowCatalog', el=> isBackdrop = el)"
         class="header--mobile w-full dfrcsb">
      <div class="header__mobileContainer">



        <div class="header__wrapper">
          {% if post.id != 6 %}
          <a href="/" class="header__logo header__logo--mobile">
            <img src="{{ assets }}/images/logo.svg" alt="header-logo">
          </a>
          {% endif %}
          {% if post.id == 6 %}
          <a class="header__logo header__logo--mobile">
            <img src="{{ assets }}/images/logo.svg" alt="header-logo">
          </a>
          {% endif %}
          <div class="header__btns">


          <button class="header__btn uppercase text-body" @click="openFixedMenuCats = !openFixedMenuCats"
                  x-init="$watch('openFixedMenuCats', () => { openFixedMenuCats ? document.body.classList.add('fixed') : document.body.classList.remove('fixed') })"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 3.75H1.5V4.875H3V3.75Z" fill="#0C0C0C" fill-opacity="0.8"/>
              <path d="M16.5 3.75H4.5V4.875H16.5V3.75Z" fill="#0C0C0C" fill-opacity="0.8"/>
              <path d="M16.5 8.25H4.5V9.375H16.5V8.25Z" fill="#0C0C0C" fill-opacity="0.8"/>
              <path d="M4.5 12.75H16.5V13.875H4.5V12.75Z" fill="#0C0C0C" fill-opacity="0.8"/>
              <path d="M1.5 8.25H3V9.375H1.5V8.25Z" fill="#0C0C0C" fill-opacity="0.8"/>
              <path d="M3 12.75H1.5V13.875H3V12.75Z" fill="#0C0C0C" fill-opacity="0.8"/>
            </svg>
            каталог</button>
          <button @click="openFixedMenu = !openFixedMenu" class="header__menu uppercase text-body header__btn"
                  x-init="$watch('openFixedMenu', () => { openFixedMenu ? document.body.classList.add('fixed') : document.body.classList.remove('fixed') })"
          >
            меню
          </button>

          </div>
        </div>
      </div>
      {% include 'parts/fixedmenu.twig' %}
      {% include 'parts/fixedmenu_cats.twig' %}

    </div>
  </div>
</header>
