<section class="allProjects section">
  <div class="container">
    <h1 class="text-body">{{ post.title }}</h1>
    <div class="allProjects__categories">
      <a href="/nashi-proekty-s-realnymi-foto/" class="allProjects__category h5 {{ progect.id == term.term_id ? "active" : "" }}">Все</a>
      {% for progect in categories_proj %}
        <a href="{{ progect.link }}" class="allProjects__category h5 {{ progect.id == term.term_id ? "active" : "" }}">
          {{ progect.title }}
        </a>
      {% endfor %}

    </div>
    <div class="allProjects__wrapper">
      {% if posts|length == 0 %}
        <div class="allProgects__warning Control_M">Постов не найдено</div>
      {% else %}
        {% for item in posts %}
          {% set post = get_post(item.ID) %}
          {% set category = post.terms[0] %}
          <div class="projects__wrap projects__wrap-{{ item.id }}" data-modal="project-{{ item.id }}">
            <img class="projects__wrapFrame" src="{{ assets }}/images/projects/Frame.svg">
            <img class="projects__wrapImg" loading="lazy" src="{{ item.thumbnail ? item.thumbnail : plug_url }}" alt="{{ item.title }}">
            <div class="projects__wrapTitle text-main-contrast h5">{{ item.title }}</div>
          </div>
        {% endfor %}
      {% endif %}
    </div>

      <button class="text-caption Uppercase-M btn-white allProjects__showAll">показать еще<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.25 3.75V11.25H3.75V12.75H11.25V20.25H12.75V12.75H20.25V11.25H12.75V3.75H11.25Z" fill="#0C0C0C" fill-opacity="0.4"/>
        </svg>
      </button>


    {% include 'parts/pagination.twig' with {posts: posts} %}

  </div>
</section>

{% for item in posts %}
    <div class="modal open" data-modal-type="project-{{ item.id }}" hidden>
      <div class="modal__wrapper form__wrapper modal__wrapperProject" data-slide-toggle>
         <div class="swiper modal__swiper">
           <div class="swiper-wrapper">
              {% for pico in item.project_photos %}
                {% if pico.photo %}
                  <img class="modal__wrapperProjectImage" src="{{ pico.photo }}" alt>
                {% endif %}
              {% endfor %}
           </div>
         </div>

        <div class="">
          {% for pico in item.project_photos %}
            {% if pico.photo %}
              <img style="width: 50px; height: 50px" src="{{ pico.photo }}" alt data-slide-target="{{ loop.index0 }}">
            {% endif %}
          {% endfor %}
        </div>
        {% if item.project_photos %}
          <div class="slider__arrows">
            <button class="slider__arrow slider__arrow--prev"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 4L15 3L6 12.0001L15 21L16.5 20L8.5 12L16.5 4Z" fill="#0C0C0C"/>
              </svg>
            </button>
            <button class="slider__arrow slider__arrow--next"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 4L7.5 3L16.5 12.0001L7.5 21L6 20L14 12L6 4Z" fill="#0C0C0C"/>
              </svg>
            </button>
          </div>
        {% endif %}


{#          <div class="modal__wrapperProject-mini">#}
{#            <div class="swiper">#}
{#              <div class="swiper-wrapper">#}

{#                {% for item1 in item.photos_slider %}#}
{#                    <img data-slide-target="{{ loop.index }}" src="{{ item1.photo }}" alt="dot">#}
{#                {% endfor %}#}

{#                {% for pico in item.project_photos %}#}
{#                  <img data-slide-target="{{ loop.index }}" src="{{ pico.photo }}" alt="dot">#}
{#                {% endfor %}#}

{#              </div>#}
{#            </div>#}
{#          </div>#}

        <button class="modal__close modal__close--fixed" type="button">
        </button>


        <div class="modal__wrapperProjectInfo">
          <div class="h5 text-caption">{{ item.title }}</div>
          <div class="Control_L text-body">{{ item.post_content }}</div>
        </div>

      </div>
    </div>
{% endfor %}
