<section class="allProjects section">
  <div class="container">
    <h1 class="text-body">{{ post.title }}</h1>
    <div class="allProjects__categories">
      <a href="/nashi-proekty-s-realnymi-foto/" class="allProjects__category h5 {{ progect.id == term.term_id ? "active" : "" }}">Все</a>
      {% for progect in categories_proj %}
{#        {% set post = get_post(item.ID) %}#}
{#        {% set category = post.terms[0] %}#}
        <a href="{{ progect.link }}" class="allProjects__category h5 {{ progect.id == term.term_id ? "active" : "" }}">
          {{ progect.title }}
        </a>
      {% endfor %}

    </div>
    <div class="allProjects__wrapper">
      {% if posts|length == 0 %}
        <div class="allProgects__warning Control_M">Постов не найдено</div>
      {% else %}
        {% for item in posts %}
          {% set post = get_post(item.ID) %}
          {% set category = post.terms[0] %}
          <div class="projects__wrap projects__wrap-{{ item.id }}" data-modal="project-{{ item.id }}">
            <img class="projects__wrapFrame" src="{{ assets }}/images/projects/Frame.svg">
            <img class="projects__wrapImg" loading="lazy" src="{{ item.thumbnail ? item.thumbnail : plug_url }}" alt="{{ item.title }}">
            <div class="projects__wrapTitle text-main-contrast h5">{{ item.title }}</div>
          </div>
        {% endfor %}
      {% endif %}
    </div>


    {% include 'parts/pagination.twig' with {posts: posts} %}

  </div>
</section>

{% for item in posts %}
  {% if item.project_photos %}


    <div class="modal open" data-modal-type="project-{{ item.id }}" hidden>
      <div class="modal__wrapper form__wrapper modal__wrapperProject" data-slide-toggle>
         <div class="swiper modal__swiper">
           <div class="swiper-wrapper">
              {% for pico in item.project_photos %}
                {% if pico.photo %}
                  <img class="modal__wrapperProjectImage" src="{{ pico.photo }}" alt>
                {% endif %}
              {% endfor %}
           </div>
         </div>

        <div class="modal__imgPagination">
          {% for pico in item.project_photos %}
            {% if pico.photo %}
              <img src="{{ pico.photo }}" alt data-slide-target="{{ loop.index0 }}">
            {% endif %}
          {% endfor %}
        </div>
        {% if item.project_photos %}
          <div class="slider__arrows">
            <button class="slider__arrow slider__arrow--prev"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 4L15 3L6 12.0001L15 21L16.5 20L8.5 12L16.5 4Z" fill="#0C0C0C"/>
              </svg>
            </button>
            <button class="slider__arrow slider__arrow--next"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 4L7.5 3L16.5 12.0001L7.5 21L6 20L14 12L6 4Z" fill="#0C0C0C"/>
              </svg>
            </button>
          </div>
        {% endif %}


        <button class="modal__close modal__close--fixed" type="button">
        </button>


        <div class="modal__wrapperProjectInfo">
          <div class="h5 text-caption">{{ item.title }}</div>
          <div class="Control_L text-body">{{ item.post_content }}</div>
        </div>

      </div>
    </div>
  {% else %}

    <div class="modal open" data-modal-type="project-{{ item.id }}" hidden>
      <div class="modal__wrapper modal__wrapperProjectNoSlides">

        <img class="modal__projectImg" loading="lazy" src="{{ item.thumbnail ? item.thumbnail : plug_url }}" alt="{{ item.title }}">
        <div class="modal__wrapperProjectInfo">
          <div class="h5 text-caption">{{ item.title }}</div>
          <div class="Control_L text-body">{{ item.post_content }}</div>
        </div>

        <button class="modal__close modal__close--fixed" type="button"></button>
      </div>
    </div>
    {% endif %}

{% endfor %}
