<section class="allProducts section" x-data="{tab: 'all'}">
  <div class="container">
    <h1 class="text-body">{{ term.name }}</h1>
    {% if term.slogan %}
      <div class="allProducts__slogan">
        <img class="allProducts__sloganBg" src="{{ assets }}/images/allProducts/slogan.webp" alt="{{ term.name }}">
        <div class="allProducts__sloganText h3 text-main-contrast">{{ term.slogan }}</div>
      </div>
    {% endif %}

    {% if term.children %}
      <div class="allProducts__categoriesContainer">
        <div class="allProducts__categories">
          <div class="text-caption h5 allProducts__category" @click="tab = 'all'" :class="{ 'active': tab === 'all' }">Все кухни</div>
          {% for category in term.children %}
            <div class="text-caption h5 allProducts__category"  @click="tab = '{{ category.id }}'" :class="{ 'active': tab === '{{ category.id }}' }">{{ category }}</div>
          {% endfor %}
        </div>
        <div class="allProducts__categoriesLine"></div>
      </div>
    {% endif %}


    {% include 'parts/filter-card.twig' %}

    <div class="allProducts__wrapper">

      {#  Подключаем шаблон фильтров и передаем в него массив с фильтрами #}
      {% include "parts/filters.twig" with {filters: filters} %}

      <div class="allProducts__container" x-show="tab === 'all'">
      {% for category in term.children %}
          {% for item in category.posts%}
            <div class="allProducts__wrap">
              <a class="allProducts__wrapLink href="{{ item.link }}"><img class="allProducts__wrapImg" src="{{ item.thumbnail ? item.thumbnail : plug_url }}" alt="{{ item.title }}"></a>
              <a class="allProducts__wrapTitle h5 text-caption" href="{{ item.link }}">{{ item.title }}</a>
              <div>от {{ item.kit_price }} ₽</div>
            </div>
          {% endfor %}
    {% endfor %}
      </div>

<div class="allProducts__container">
    {% for category in term.children %}
      <div x-show="tab === '{{ category.id}}'">
          {% for item in category.posts%}
            <a class="allProducts__wrap" href="{{ item.link }}">
              <a class="allProducts__wrapLink"><img class="allProducts__wrapImg" src="{{ item.thumbnail ? item.thumbnail : plug_url }}" alt="{{ item.title }}"></a>
              <a class="allProducts__wrapTitle h5 text-caption" href="{{ item.link }}">{{ item.title }}</a>
              <div>от {{ item.kit_price }} ₽</div>
            </a>
          {% endfor %}
      </div>
    {% endfor %}
</div>






    </div>
  </div>
</section>
