<script src="{{ assets }}/libs/jquery-3.7.1.slim.min.js"></script>
<script src="{{ assets }}/libs/wow.min.js"></script>
<section class="forus">
  <div class="container">
    <h1 class="uppercase">{{ post.title }}</h1>
    <div class="forus__wrapper">
      {% if post.start_text %}
        <section class="forus__startBanner section">
          <img class="forus__startBannerBg" src="{{ assets }}/images/forus/bg.webp">
          <img class="forus__startBannerLogo" src="{{ assets }}/images/forus/mebel.svg" alt>
          <div class="h5 text-body-contrast forus__startBannerText">{{ post.start_text }}</div>
        </section>
      {% endif %}


      {% if post.average_title or post.average_subtitle or post.average_doptext %}
        <section class="forus__averageBanner section">
          <img class="forus__startBannerBg" src="{{ assets }}/images/forus/bg2.webp">
          {% if post.average_title %}
            <h2 class="text-body-contrast forus__averageBannerTitle">{{ post.average_title }}</h2>
          {% endif %}
          {% if post.average_subtitle %}
            <div class="Control_M text-body-contrast forus__averageBannerText">{{ post.average_subtitle }}</div>
          {% endif %}
          {% if post.average_doptext %}
            <div class="Control_M forus__averageBannerDoptext text-body">{{ post.average_doptext }}</div>
          {% endif %}
        </section>
      {% endif %}

      <section class="forus__advs">
        <h2 class="text-body forus__advsTitle">{{ post.advs_title }}</h2>
        <div class="Control_M forus__advsSubtitle text-caption">{{ post.advs_subtitle }}</div>

        <div class="forus__advsWrapper">
          {% for item in post.advs_rep %}
            <div class="forus__advsWrap">
              <div class="text-caption h4 forus__advsWrapTitle uppercase">{{ item.adv_title }}</div>
              <div class="Control_M text-body forus__advsWrapSubtitle">{{ item.adv_subtitle }}</div>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>


    {% if post.info %}
      <section class="forus__info">
        <div class="forus__infoLeft wow bounceInLeft">
          <img class="forus__infoLeftVertical forus__infoImg" src="{{ post.info.left_img_vert }}" alt>
          <img class="forus__infoLeftHorizontal forus__infoImg" src="{{ post.info.left_img_horis }}" alt>
        </div>
        <div class="h3 text-caption forus__infoTitle uppercase">{{ post.info.text }}</div>
        <div class="forus__infoRight wow bounceInRight">
          <img class="forus__infoRightVertical forus__infoImg" src="{{ post.info.right_img_vert }}" alt="">
          <img class="forus__infoRightHorizontal forus__infoImg" src="{{ post.info.right_img_horis }}" alt="">
        </div>
      </section>
    {% endif %}

    {% if post.question %}
      <section class="forus__question section">
        <img class="forus__startBannerBg" src="{{ assets }}/images/forus/bg.webp">
        <h2 class="forus__questionTitle text-body-contrast">{{ post.question.title }}</h2>
        <div class="h5 forus__questionSubtitle text-caption-contrast">{{ post.question.subtitle }}</div>
        <button class="Uppercase-M btn-black forus__questionBtn" data-modal="call">Оставить заявку</button>
      </section>
    {% endif %}






    <script>
      window.addEventListener('load', () => {
        let  wow = new WOW({
          boxClass: 'wow',
          animateClass: 'animated',
          offset:       100,
          callback:     function(box) {
            console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
          }
        });
        wow.init();})
    </script>
  </div>
</section>
