<section class="pageRevs section">
  <div class="container">
    <h1>{{ post.title }}</h1>
    <div class="pageRevs__linkWrapper">
      <img class="pageRevs__linkWrapperBg" src="{{ assets }}/images/forus/bgss.webp">
      <div class="pageRevs__linkWrapperText">
        <div class="pageRevs__linkWrapperTitle text-main-contrast h3 uppercase">{{ post.link_title }}</div>
        <div class="pageRevs__linkWrapperSubtitle text-caption-contrast h5">{{ post.link_subtitle }}</div>
      </div>
      <a target="_blank" class="uppercase btn-black text-main-contrast pageRevs__linkWrapperBtn Uppercase-M" href="{{ post.vk_link }}">Перейти в группу ВК</a>
    </div>


    <div class="pageRevs__wrapper">
      {% for item in reviews %}
{#        <div class="reviews__wrap">#}
{#          <img class="reviews__wrapFrame" src="{{ assets }}/images/projects/Frame.svg">#}
{#          <div class="reviews__wrapClient">#}
{#            <img class="reviews__client" src="{{ item.img ? item.img : plug_client }}" alt="{{ item.name }}">#}
{#            <div class="reviews__wrapClientText">#}
{#              <div class="reviews__name Control_L text-body">{{ item.name }}</div>#}
{#              <div class="reviews__date text-caption Control_S">{{ item.time }}</div>#}
{#            </div>#}
{#          </div>#}

{#          <div class="reviews__descr Control_M text-body">{{ item.descr }}#}
{#            <div class="reviews__photos">#}
{#              {% for pic in item.photos %}#}
{#                <a class="reviews__photo" data-fancybox="reviews" href="{{ pic.photo }}"><img class="reviews__img" src="{{ pic.photo }}" alt></a>#}
{#              {% endfor %}#}
{#            </div>#}
{#          </div>#}

{#        </div>#}
        {% include 'parts/reviews.twig' %}
      {% endfor %}
    </div>




  </div>
</section>
{#{% for item in reviews.rew_rep %}#}
{#  <div class="modal open" data-modal-type="client" hidden>#}
{#    <div class="modal__wrapper form__wrapper Control_M">#}

{#      <button class="modal__close modal__close--fixed" type="button">#}
{#      </button>#}
{#    </div>#}

{#  </div>#}
{#{% endfor %}#}

{% for item in reviews %}
  {% include 'modals/revs.twig' %}
{% endfor %}
