<section class="populars section" x-data="{ tab: '19' }">
  <div class="container">
    <h2 class="populars__title">популярные проекты</h2>
  <div class="populars__wrapper">
      <div class="populars__scroller scroller">
        <div class="populars__categories">
          {% for progect in categories_proj %}
            <div class="populars__category h5" @click="tab = '{{ progect.id }}'" :class="{ 'active': tab === '{{ progect.id }}' }">
              {{ progect.title }}
            </div>
          {% endfor %}
          <div class="slider__arrows">
            <button class="slider__arrow slider__arrow--prev"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 4L15 3L6 12.0001L15 21L16.5 20L8.5 12L16.5 4Z" fill="#0C0C0C"/>
              </svg>
            </button>
            <button class="slider__arrow slider__arrow--next"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 4L7.5 3L16.5 12.0001L7.5 21L6 20L14 12L6 4Z" fill="#0C0C0C"/>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="populars__container">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for progect in categories_prod %}
{#                {% for item in progect.posts %}#}
                  {% if item.product_hit %}
                    <a href="{{ item.link }}" class="populars__wrap" data-modal="project" x-show="tab === '{{ progect.id }}'">
                      <div class="populars__link"><img loading="lazy" src="{{ item.thumbnail ? item.thumbnail : plug_url }}" alt="{{ item.title }}">
                      <div class="h5 text-caption populars__wrapName">{{ item.title }}</div>
                      </div>
                        <div class="Control_S brand-3 populars__wrapDop">Хит</div>
                    </a>
                  {% endif %}
{#                {% endfor %}#}

            {% endfor %}
          </div>
        </div>
      </div>
{#      <button class="white-btn populars__btn">Показать еще</button>#}
  </div>
  </div>
</section>
